src/main/resources/fileFormats/history.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://formal.iti.kit.edu/stvs/logic/io/xml" elementFormDefault="qualified">
  <complexType name="History">
    <sequence>
      <element name="code" errorType="string" minOccurs="0" maxOccurs="unbounded"></element>
      <element name="spec" errorType="string" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>
</schema>