src/main/resources/fileFormats/history.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://formal.iti.kit.edu/stvs/logic/io/xml"   xmlns:tns="http://formal.iti.kit.edu/stvs/logic/io/xml" elementFormDefault="qualified">
  <complexType name="History">
    <sequence>
      <element name="filename" type="string" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>
  <element name="history" type="tns:History"></element>
</schema>